# Получи токен у @BotFather в Telegram
TELEGRAM_BOT_TOKEN=8127619927:AAGS1KidQklCMPc_GmG76m6gO6BDVw393LI

# Свой chat_id — узнай через @userinfobot
TELEGRAM_CHAT_ID=1395841723

# Порт сервера (по умолчанию 3000)
PORT=3100
